<header class="section header">
  <div class="container">

  </div>
</header>

<nav class="section navigation">
  <div class="container">
    <ul class="nav">
<!--      routerLink ghi giong khai bao ben app module-->
      <li class="nav-item"><a routerLink="/">Home</a></li>
      <li class="nav-item"><a routerLink="/login">Login</a></li>
      <li class="nav-item"><a routerLink="/about-us">About-us</a></li>
      <li class="nav-item"><a routerLink="/contact">Contact</a></li>
      <li class="nav-item"><a routerLink="/register">Register</a></li>
      <li class="nav-item"><a routerLink="/food">Food</a></li>
    </ul>
  </div>
</nav>

<section class="section main">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</section>

<footer class="section header">
  <div class="container">

  </div>
</footer>
