<div class="row">
  <aside class="aside col-3">
    <ul>
      <li *ngFor="let m of data">
        {{m.name}}
      </li>
    </ul>
  </aside>
  <div class="content col">
    <div class="row">
      <div *ngFor="let f of foods" class="col-3">
        <div class="card">
          <img src="{{f.image}}" class="card-img-top"/>
          <div class="card-body">
            <p>{{f.name}}</p>
            <p>{{f.description}}</p>
            <p><span class="text-danger">{{f.price}} VND</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
